#title{
  font-family: "RocknRoll One", sans-serif;
  text-align: center;
  font-size: 4rem;
  background-color: #8B322C;
  margin:0px;
  border-radius: 20px;
  color:white;
  margin-bottom: 40px;
  padding:40px;

}
#title2{
  font-family: "RocknRoll One", sans-serif;
  text-align: center;
  font-size: 4rem;
  background-color: #8B322C;
  margin:0px;
  border-radius: 20px;
  color:white;
  margin-top: 40px;
  padding:40px;

}
.container{
  display:flex;
  height: 100vh;
  gap:10px;
  min-width: 735px;
  flex-wrap: wrap;
}
.set{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap:20px;
  background-color: #4793AF;
  border-radius: 20px;
}
.drum{
  background-color: #b43a3a;
  width: 80%;
  height: 10%;
  color:white;
  border-radius: 20px;
  text-align: left; 
  font-size: 15px; 
  min-width:200px;
}

.image{
  flex:4;
  height: 100%;
  display:flex;
  background-color: #DD5746;
  border-radius: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
  min-width: 765px;
}
.grid{
  height: 90vh;
  display:grid;
  grid-template-columns: repeat(100,1fr);
  grid-template-rows: repeat(100,1fr);
}
.drum2{
  border-radius: 50%;
  background-color: transparent;
  border:none;
font-family: 'Courier New', Courier, monospace;
font-size: 1.4rem;

}
.drum2.w{
  grid-area: 70/29/50/44;
}
.drum2.a {
  grid-area: 50 / 10 / 72/ 29;
}

.drum2.s {
  grid-area: 33 / 39 / 46 / 51;
}

.drum2.d {
  grid-area: 49 / 45 / 60 / 58;
  border-radius: 0;
  text-align: left;
  margin-left: 20px;
}

.drum2.j {
  grid-area: 33 / 55 / 50 / 68;
}

.drum2.k {
  grid-area: 24 / 69 / 51 / 92;
}

.drum2.l {
  grid-area: 50 / 65 / 70 / 83;
}
img{
  height: 100%;;
  border-radius: 20px;
  grid-area: 1/1/101/101;
}

